.vscode
.cache
.config
.dbus
.local
.vscode
.vscode-server
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
.bash_history
.bash_logout
.bash_profile
.bashrc
.esd_auth
.ICEauthority
demo
README.md